div#MainMenu {
  position: absolute;
  left: 140px;
  top: 82px;
  border-style: groove;
  background-image: url(../img/bgmenu3.jpg);
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width: 148px;
}
.iconhome {
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.iconsign {
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}


.banner {
  max-width: 100%;
  max-height: 750px;
  border-radius: 10%;
  padding-top: 10px;
}


#MainMenu a {
  display:block;
  padding: 26px 7 14px 7px;
  font-size: 40px;
  Color : #CFBEBE;
  text-decoration: none;
  text-align: center;
  border-style:double;
  transition: all 0.5s ease ;
}


#MainMenu a:hover{
  background-color: #BD5B64;
  border-style:ridge;
  transform:translate(-25px,0);
}

.wrap {
  max-width: 1300px;
  margin: auto;
}
.hero {
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s ease ;
}

.hero:hover {
  transform:translate(15px,0);
}

#picture {
  text-align: center;
}


p {
  text-align: right;
  font-size: 30px;
  color:#33331a;
  animation-name: p;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transition: all 7s ease ;
}

@keyframes p {
    from   {opacity: 1; transform:translate(-100px,0);}
    to {opacity: 0;transform:translate(-1200px,0);}
}


#back {
  position: fixed;
  right :30px;
  bottom : 30px;
}

.iconback {
  border-radius: 10%;
    transition: all 1s ease ;
}

.iconback:hover{
  border-radius: 40%;
  transform: translate(0,-15px);
}

#MainMenu ul {
  position: relative;
  list-style-type:none;
  margin:0px;
  padding:0px;
}
